<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.tutorstudentportalapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StudentRequestActivity"></activity>
        <activity android:name=".FindTeacherActivity" />
        <activity android:name=".ProfileTeacherActivity" />
        <activity android:name=".TeacherHomepageActivity" />
        <activity android:name=".ProfileStudentActivity" />
        <activity
            android:name=".RegistrationForTeacherActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegistrationForStudentActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".LoginForStudentActivity" />
        <activity android:name=".LoginForTeacherActivity" />
        <activity
            android:name=".UserAccountActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentHomepageActivity" />
    </application>

</manifest>